.fluidos-matrix {

form {
    section.cond {
        @include make-row;
    }
    .conditions {
        @include make-sm-column(8);
    }

    .recommendations {
        @include make-sm-column(4);
        border: 1px darkgreen solid;
        border-radius: 5px;
        padding: {
            top: 1.5em;
            bottom: 1.5em;
        }
        h2 { margin-top: 0px; }
    }
}



}