.nt-perforate-matrix-explanations {
    h2 a {
        color: inherit;
        text-decoration: none;
    }
    .img {
        text-align: center;
        img {
            max-width: 100%;
        }
    }
}
