@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import 'fancy-button';
@import 'table';
@import 'icons';
//@import 'colors';

body {
    font-family: 'Open Sans';
    padding-bottom: 0.5em;
}

form {
    @extend .form-horizontal;
    input, select {
        @extend .form-control;
    }
    input[type="submit"] {
        width: inherit;
    }
    input[type="file"] {
        padding-top: 0;
        padding-bottom: 0;
        height: 3em;
    }
}

.buttons {
  text-align: center;
  margin: 0.5rem auto 0 auto;
}

.header {
    @include bg_theme_gradient();
    color: white;
    font-size: 14px;
    padding: 8px;
    font-weight: bold;
    margin-bottom: 0;
    text-align: center;

}

.page-header {
    text-align: center;
}