html {
    position: relative;
    height: 100%;
}
body {
    min-height: 100%;
    display: flex;
    flex-direction:column;
}
.navbar {
    margin-bottom: 0.3em;
}
#map {
    flex: 1;
}
#legend {
    position:absolute;
    top:55px;
    right:0;
    width:20%;
    background-color:white;
    font-size:8pt;
    padding:5px;
    z-index:2;
    border-bottom-left-radius: 4px;
    p {
        padding: 0;
        margin: 0;
    }
}

.marker-title {
    text-align: center;
}

.marker-field {
    .marker-field-name {
        font-weight: bold;
    }
}

.marker-actions {
    text-align: center;
}