form {
    @extend .form-horizontal;
    input, select {
        @extend .form-control;
    }
    &.form-2-10 {
        .form-group > label {
            @include make-sm-column(2);
        }
        .form-group {
            > input, > select { @include make-sm-column(10); }
        }
    }
    &.form-3-9 {
        .form-group > label {
            @include make-sm-column(3);
        }
        .form-group {
            > input, > select { @include make-sm-column(9); }
        }
    }
    input[type="submit"] {
        width: inherit;
    }
    input[type="file"] {
        padding-top: 0;
        padding-bottom: 0;
        height: 3em;
    }
    input[type="checkbox"] {
        width: inherit;
        height: inherit;
        display: inline;
    }
    .checkbox-container {
        padding-left: $grid-gutter-width / 2;
        padding-right: $grid-gutter-width / 2;
    }
    .submit-container {
        @extend .fluid-container !optional;
        text-align: center;
        input[type="submit"] {
            @extend .btn;
            @extend .btn-success;
        }
    }
}